GITHUB_TOKEN=your_github_token_here

#You can use Custom RPC URLs for better performance and Rate limits

ROOTSTOCK_MAINNET_RPC_URL=https://public-node.rsk.co   
ROOTSTOCK_TESTNET_RPC_URL=https://public-node.testnet.rsk.co